.keyStatisticsContainer {
    margin-top: $grid;
    display: flex;
    flex-direction: column;
    gap: $grid;

    @include media-query(large) {
        margin-top: $grid * 2;
        flex-direction: row;
        gap: $grid * 5;
    }
}

.title {
    @include font-size(xl);
    color: var(--color--text);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.24px;
    margin-bottom: $grid;
    margin-top: $grid;

    @include media-query(large) {
        margin-bottom: $grid;
        margin-top: $grid * 2;
    }
}

.code {
    padding-top: $grid;
    max-width: 80ch;
    font-family: monospace;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.details {
    &__list {
        padding-top: $grid;
    }
}
