.container {
    display: grid;
    grid-template-columns: $grid 1fr $grid;
    padding-top: $grid;

    @include media-query(medium) {
        grid-template-columns: $grid * 2 1fr $grid * 2;
        padding-top: $grid * 2;
    }

    @include media-query(large) {
        grid-template-columns: $grid * 6 1fr $grid * 6;
        padding-top: $grid * 3;
    }
}

.reportSiteName {
    color: var(--color--text, #2d2d2d);

    font-size: 26px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.72px;
    margin-top: $grid * 2;
    margin-bottom: 0;
}

.title {
    color: var(--color--text, #2d2d2d);
    font-size: 46px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.46px;
    margin-top: $grid * 2;

    @include media-query(medium) {
        margin-top: $grid * 4;
    }
}
