.bar {
    height: 30px;
    position: relative;
    z-index: 1;
    border-radius: 3px;

    &__legend {
        background-color: var(--color--white);
        padding: 0 5px;
        font-size: 18px;
        border-radius: 3px;
        margin-bottom: 0;
    }

    &__label {
        font-size: 18px;
        position: absolute;
        top: 2px;
        left: 5px;
        color: var(--color--white);
    }

    &__container {
        position: relative;
        z-index: 1;
        height: 100%;
        margin-bottom: 8px;
    }

    &__tooltip {
        position: absolute;
        z-index: 3;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--color--black);
        width: max-content;
        height: min-content;
        padding: 5px;

        &Text {
            display: block;
            font-size: 14px;
            color: var(--color--white);
            padding: 0;
            margin: 0;
        }
    }

    &__pattern {
        opacity: 0.6;
    }
}
