.title {
    color: var(--color--text);
    @include font-size(xxl);
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.46px;
    margin-top: $grid * 2;

    @include media-query(medium) {
        margin-top: $grid * 2;
    }
}

.subtitle {
    color: var(--color--text);
    @include font-size(l);
    margin: $grid 0 0 0;
}

.reportList {
    @include font-size(m);
    list-style: none;
    margin: $grid * 2 0 0 0;
    display: flex;
    flex-direction: column;
    gap: $grid;
}

.link {
    text-decoration: underline;
}
