.title {
    color: var(--color--grey-400, hsla(0, 0%, 25%, 1));
    margin: 0 0 12px 0;
    font-weight: 600;
    letter-spacing: 0.16px;
    font-size: 16px;
}

.select {
    color: var(--color--text);
    font-family: var(--font--outfit);
    border: none;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.22px;
    padding: 0;
    margin-left: -5px;
}

.details {
    font-weight: 600;
    font-size: 16px;
    margin: 0px;
    color: var(--color--grey-500);
}

.border {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;

    div {
        flex-grow: 1;
        height: 10px;
    }

    &__secondary {
        @for $i from 1 through 5 {
            div:nth-child(5n + #{$i}) {
                background-color: var(--color--secondary-gradient-#{$i + 2});
            }
        }
    }

    &__primary {
        @for $i from 1 through 5 {
            div:nth-child(5n + #{$i}) {
                background-color: var(--color--primary-gradient-#{$i + 2});
            }
        }
    }
}
