@font-face {
  font-family: Outfit;
  src: url(/Outfit-VariableFont_wght.ttf);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.logoName {
  font-size: 1.5rem;
  font-weight: 900;
  background: linear-gradient(350deg, #000 40%, rgba(0, 0, 0, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;

  text-align: center;
  font-family: Outfit;
  font-weight: 900;
  line-height: 2rem;
  letter-spacing: 0.24px;
}

.logoTagline {
  color: var(--project-colors-text-color, #2d2d2d);
  text-align: center;
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.18px;
  margin: 0;
}
