.container {
    width: 300px;
    flex-shrink: 0;
}

.title {
    color: var(--color--text);
    @include font-size(l);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.24px;
    text-wrap: nowrap;
    margin: 0;
    margin-bottom: $grid + 5px;
}

.barContainer {
    position: relative;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.baseNumber {
    position: relative;
    color: var(--color--secondary-gradient-1);
    @include font-size(xl);
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.6px;
    background: var(--color--secondary-gradient-7);
    border-radius: 3px;
    margin: 0;
    box-sizing: border-box;
    padding: 2px 10px;
    height: 40px;

    @include media-query(medium) {
        padding: 5px 10px;
        height: 60px;
    }
}

.accentNumber {
    position: relative;
    color: var(--color--background);
    @include font-size(xl);
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.6px;
    background: linear-gradient(
        32deg,
        var(--color--primary-gradient-1) 0%,
        var(--color--primary-gradient-3) 100%
    );
    border-radius: 3px;
    margin: 0;
    box-sizing: border-box;
    padding: 2px 10px;
    height: 40px;

    @include media-query(medium) {
        padding: 5px 10px;
        height: 60px;
    }
}

.overlayText {
    position: relative;
    white-space: nowrap;
}

.percentageChange {
    margin-top: 20px;
    color: var(--color--text-muted);
}
